<!DOCTYPE html>
<html>
  <head>
    <!-- meta -->
    <meta charset="utf-8" name="viewport" content="width=device-width, height=device-height, user-scalable=yes">
    <!-- css & js -->
    <link rel="stylesheet" href="../css/common.css"/>
      <link href="../vendor/js/ionicons-2.0.1/css/ionicons.min.css" rel="stylesheet" type="text/css">
    <!-- <link rel="stylesheet" href="../css/media.css"/> -->
    <!-- title -->
    <title>CONUN Manager</title>
  </head>
  <body>
    <section id="default">
      <!-- left menu -->
      <nav style="grid-area: nav;">
        <a href="#"><img src="../img/main_logo.svg" alt="CONUN DSC Logo" title="CONUN DSC Logo"></a>
        <ul class="menu" id="menu">
          <li class="on"><p><img src="../img/icon/ico_home.svg" alt="home" title="home">Home</p></li>
          <li class="d">
            <p><img src="../img/icon/ico_conun.svg" alt="CONUN" title="CONUN">CONUN</p>
            <ul class="menu">
              <li><p><a href="../page/conun/requester.html"><img src="../img/icon/ico_req.svg" alt="Requester" title="Requester">Requester</a></p></li>
              <li><p><a href="../page/conun/provider.html"><img src="../img/icon/ico_prov.svg" alt="Provider" title="Provider">Provider</a></p></li>
              <!-- <li><img src="../img/icon/ico_logs.svg" alt="Logs" title="Logs">Logs</li> -->
            </ul>
          </li>
          <li class="d">
            <p><img src="../img/icon/ico_wallet.svg" alt="Wallet" title="Wallet">Wallet</p>
            <ul class="menu">
              <li><p><a href="../page/wallet/transaction.html"><img src="../img/icon/ico_trans.svg" alt="Transaction" title="Transaction">Transaction</a></p></li>
              <li><p><a href="../page/wallet/management.html"><img src="../img/icon/ico_wallet_manage.svg" alt="Manage" title="Manage">Manage</a></p></li>
<!--              <li><p><img src="../img/icon/ico_history.svg" alt="History" title="History">History</p></li>-->
            </ul>
          </li>
          <li><p><a href="setting/setting.html"><img src="../img/icon/ico_setting.svg" alt="Setting" title="Setting">Setting</a></p></li>
        </ul>
        <ul id="menu_etc">
          <li><a href="http://conun.io" target="_blank"><img src="../img/icon/ico_globe.svg" alt="website" title="website" style="vertical-align:middle;"> conun.io</a></li>
          <li>Version 0.1</li>
        </ul>
      </nav>
      <!-- contents area -->
      <section class="grid main" style="grid-area: content;">
        <article class="area narrow" style="grid-area: status;" area="status">
          <p><img src="../img/icon/ico_network.svg" alt="network" title="network"> Network Status<span id="txt_network_status"></span></p>
<!--          <p>Working Nodes<span id="txt_node_count"></span></p>-->
          <button type="button" class="update__btn" id="update_btn">Update <i class="ion-ios-loop-strong"></i></button>
          <button type="button" name="minimize" class="clear">
            Minimize <img src="../img/icon/ico_mini.svg" alt="minimize" title="minimize">
          </button>
        </article>
        <article class="area flex" style="grid-area: task;" area="task">
          <!-- requester -->
          <section class="grid">
            <p class="title" style="grid-area: usertask;">Requester</p>
            <div class="task-info" style="grid-area: usertask1;">
              <span>Requested Projects</span>
              <p id="txt_requested_projects"></p>
            </div>
            <div class="task-info" style="grid-area: usertask2;">
<!--              <span>Under Consideration</span>-->
<!--              <p id="txt_req_under_process"></p>-->
            </div>
            <a href="../page/conun/requester.html"><button type="button" name="button" class="button small">See Details</button></a>
          </section>
          <div class="v-bar-dark"></div>
          <!-- provider -->
          <section class="grid">
            <p class="title" style="grid-area: usertask;">Provider</p>
            <div class="task-info" style="grid-area: usertask1;">
              <span>Completed Tasks</span>
              <p id="txt_pro_completed_tasks"></p>
            </div>
            <div class="task-info" style="grid-area: usertask2;">
<!--              <span>Under Process</span>-->
<!--              <p id="txt_pro_under_process"></p>-->
            </div>
            <a href="../page/conun/provider.html"><button type="button" name="button" class="button small">See Details</button></a>
          </section>
        </article>
        <article class="area flex" style="grid-area: coin1;" area="coin1">
          <img src="../img/icon/ico_con.svg" alt="con" title="con">
          <section class="coin-bal">
            <span>CONUN(CON)</span>
            <p id="txt_conun_balance" ></p>
          </section>
        </article>
        <article class="area flex" style="grid-area: coin2;" area="coin2">
          <img src="../img/icon/ico_eth.svg" alt="eth" title="eth">
          <section class="coin-bal">
            <span>ethereum(ETH)</span>
            <p id="txt_ether_balance"></p>
          </section>
        </article>
        <article class="area flex" style="grid-area: wallet;" area="wallet">
          <section>
            <p>Account Address</p>
            <input type="text" readonly id="account_addr" value="null">
            <button type="button" name="copy" class="button clear" onclick="copytoClip('account_addr');"></button>
          </section>
        </article>
      </section>
    </section>

    <script src="../vendor/js/jquery-3.4.1.min.js"></script>
    <script type="application/javascript">
      if (typeof module === 'object' && typeof module.exports !== 'undefined') {
        window.$ = window.jQuery = module.exports;
      }
    </script>
    <script src="../vendor/js/common.js"></script>
    <script>
      require('../../js/controller/ui/main/ui.home');
      const {appLocation}= require('../../js/controller/ui/main/ui.main');
      appLocation.setDefine('appLocation', 'HOME');
    </script>
  </body>
</html>
