/*toggle button*/

input[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
    margin-left: 500px;
}

label {
    cursor: pointer;
    text-indent: -40px;
    width: 50px;
    height: 20px;
    background: grey;
    display: block;
    border-radius: 10px;
    position: relative;
}

label:after {
    content: '';
    position: absolute;
    left: 5px;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 10px;
    transition: 0.3s;
}

input:checked + label {
    background: #c3ab41;
}

input:checked + label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}

label:active:after {
    width: 50px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}