<!DOCTYPE html>
<html>
  <head>
    <!-- meta -->
    <meta charset="utf-8" name="viewport" content="width=device-width, height=device-height, user-scalable=yes">
    <!-- css & js -->
    <link rel="stylesheet" href="../../css/common.css"/>
    <!-- <link rel="stylesheet" href="../css/media.css"/> -->
    <!-- title -->
    <title>CONUN Manager | Access Wallet</title>
  </head>
  <body>
    <section id="access" page="account01">
      <nav style="grid-area: nav;">
        <a href="#"><img src="../../img/main_logo.svg" alt="CONUN DSC Logo" title="CONUN DSC Logo"></a>
      </nav>
      <p class="title mid" style="grid-area: page;">Introduction</p>
      <div style="grid-area: blank-l;"></div>
      <div style="grid-area: blank-r;"></div>
      <section style="grid-area: form;" area="form">
        <ul id="slider">
          <li slide="slider-1" class="on">
            <p class="title">
              CONUN DISTRIBUTED<br>SUPERCOMPUTING PLATFORM
            </p>
            <p class="paragraph min gray">
              CONUN's Distributed Computing provides a universal computing network architecture platform that enables distributed processing of personal computers connected to the Internet based on desktop grid computing technology.
              <span class="p-divider"></span>
              CONUN is operated by an agreement between distributed computing resource share participants and users and supports an open and horizontal profit ecosystem for all participants.
            </p>
          </li>
          <!-- dummy slides -->
          <li slide="slider-2">
            <p class="title">
              Hybrid Peer-to-Peer Network
            </p>
            <p class="paragraph min gray">
              CONUN's Distributed Computing implements a general-purpose computing network architecture platform that enables distributed processing of personal computers connected to the Internet based on desktop grid computing technology.
              CONUN is operated by agreement between users and users sharing distributed computing resources, and supports an open and horizontal profit ecosystem for all participants.
              Any computer on the network acts as a client / server, regardless of the type of computer
              Independent virtual processing system that automatically deploys and automatically executes applications without interference from individual operating systems on each computing node
            </p>
          </li>
          <li slide="slider-3">
            <p class="title">
              Get Reword per task-process
            </p>
            <p class="paragraph min gray">
              A consensus / payment processing system that exchanges transparent and secure transactions without relay services
            </p>
          </li>
        </ul>
        <div id="slider-control" class="flex">
          <input type="radio" name="slider-control" id="slider-1" value="slide-1" checked>
          <label for="slider-1"></label>
          <input type="radio" name="slider-control" id="slider-2" value="slide-2">
          <label for="slider-2"></label>
          <input type="radio" name="slider-control" id="slider-3" value="slide-3">
          <label for="slider-3"></label>
        </div>
        <div class="flex">
          <a href="../access/intro.html" class="page_control snap">
            <span><img src="../../img/icon/ico_arr_l.svg" alt="back" title="back"></span>
            Back
          </a>
          <a href="../access/account02.html" class="page_control snap">
            Next
            <span><img src="../../img/icon/ico_arr_r.svg" alt="next" title="next"></span>
          </a>
        </div>
      </section>
    </section>
    <footer class="flex">
      <span>Version 0.0.1</span>
      <div>
        <a href="http://conun.io" target="_blank">
          <img src="../../img/icon/ico_world.svg" alt="conun homepage" title="conun homepage">
          Home
        </a>
        <a href="https://t.me/joinchat/BEd-ABhvx-GK9_G3fxnYvg" target="_blank">
          <img src="../../img/icon/ico_telegram.svg" alt="conun telegram" title="conun telegram">
          Telegram
        </a>
      </div>
    </footer>
    <script src="../../vendor/js/jquery-3.4.1.min.js"></script>
    <script type="application/javascript">
      if (typeof module === 'object' && typeof module.exports !== 'undefined') {
        window.$ = window.jQuery = module.exports;
      }
    </script>
    <script src="../../vendor/js/common.js"></script>
    <script type="text/javascript">
      $(document).ready(function(){
        autoSlide();
      });
    </script>
  </body>
</html>
