<!DOCTYPE html>
<html>
  <head>
    <!-- meta -->
    <meta charset="utf-8" name="viewport" content="width=device-width, height=device-height, user-scalable=yes">
    <!-- css & js -->
    <link rel="stylesheet" href="../../css/common.css"/>
    <!-- <link rel="stylesheet" href="../css/media.css"/> -->
<!--    <script src="../../vendor/js/jquery-3.4.1.min.js"></script>-->
    <!-- title -->
    <title>CONUN Manager | Access Wallet</title>
  </head>
  <body>
    <section id="access" page="intro">
      <nav style="grid-area: nav;">
        <a href="#"><img src="../../img/main_logo.svg" alt="CONUN DSC Logo" title="CONUN DSC Logo"></a>
      </nav>
      <p class="title mid" style="grid-area: page;"></p>
      <div style="grid-area: blank-l;"></div>
      <div style="grid-area: blank-r;"></div>
      <section style="grid-area: form;" area="form">
        <div>
          <p class="title extra">WELCOME</p>
          <p class="title">Do you have account?</p>
          <p class="paragraph gray">
            Create an account and become a member of
            <br>CONUN Distributed Supercomputing Platform.
          </p>
        </div>
        <a href="../access/account01.html">
          <button type="button" name="button" class="extra fill">
            <img src="../../img/icon/ico_newuser.svg" alt="newuser" title="new user">
            Create New Account
          </button>
        </a>
        <a>
          <a href="../access/account03.html">
            <button type="button" name="button" class="extra" id="new_account">
              <img src="../../img/icon/ico_alreadyuser.svg" alt="alreadyuser" title="already user">
              Have an Account
            </button>
          </a>
        </section>
      </section>
      <footer class="flex">
        <span>Version 0.0.1</span>
        <div>
          <a href="http://conun.io" target="_blank">
            <img src="../../img/icon/ico_world.svg" alt="conun homepage" title="conun homepage">
            Home
          </a>
          <a href="https://t.me/joinchat/BEd-ABhvx-GK9_G3fxnYvg" target="_blank">
            <img src="../../img/icon/ico_telegram.svg" alt="conun telegram" title="conun telegram">
            Telegram
          </a>
        </div>
      </footer>
      <script src="../../vendor/js/jquery-3.4.1.min.js"></script>
      <script type="application/javascript">
        if (typeof module === 'object' && typeof module.exports !== 'undefined') {
          window.$ = window.jQuery = module.exports;
        }
      </script>
      <script src="../../vendor/js/common.js"></script>
    </body>
  </html>
