<!DOCTYPE html>
<html>
  <head>
    <!-- meta -->
    <meta charset="utf-8" name="viewport" content="width=device-width, height=device-height, user-scalable=yes">
    <!-- css & js -->
    <link rel="stylesheet" href="../../css/common.css"/>
    <!-- <link rel="stylesheet" href="../css/media.css"/> -->
    <!-- title -->
    <title>CONUN Manager | Access Wallet</title>
  </head>
  <body>
    <section id="access" page="wallet02">
      <nav style="grid-area: nav;">
        <a href="#"><img src="../../img/main_logo.svg" alt="CONUN DSC Logo" title="CONUN DSC Logo"></a>
      </nav>
      <p class="title mid" style="grid-area: page;">Create New Wallet</p>
      <div style="grid-area: blank-l;"></div>
      <div style="grid-area: blank-r;"></div>
      <section style="grid-area: form;" area="form">
        <p class="title">Set up a Password</p>
        <p class="paragraph gray">
          To Create New CONUN Account and Wallet, Please Set Your Password.<br>
          Notes: DO NOT SHARE and FORGET to save your password.<br>
          You will need this Password + Keystore File to unlock your wallet.<br>
          Password allows you to set as a local password, as well as unlock your wallet.<br>
        </p>
        <form id="walletpwset">
          <div class="wrap">
            <input class="int_wallet_password default" type="password" name="walletpw01" id="walletpw01" placeholder="Create a Password" required>
            <label for="walletpw01">Password</label>
          </div>
          <div class="wrap">
            <input class="default" type="password" name="walletpw02" id="walletpw02" placeholder="Confirm your Password" required>
            <label for="walletpw02">Confirm Password</label>
          </div>
          <div class="wrap">
            <button type="button" name="walletpwsave" class="btn_create_wallet form full fill" onclick="checkPassword();">Save and Continue</button>
          </div>
        </form>
        <div class="flex">
          <a href="../access/wallet01.html" class="page_control snap">
            <span><img src="../../img/icon/ico_arr_l.svg" alt="back" title="back"></span>
            Back
          </a>
          <a href="" class="page_control snap"></a>
        </div>
      </section>
    </section>
    <footer class="flex">
      <span>Version 0.0.1</span>
      <div>
        <a href="http://conun.io" target="_blank">
          <img src="../../img/icon/ico_world.svg" alt="conun homepage" title="conun homepage">
          Home
        </a>
        <a href="https://t.me/joinchat/BEd-ABhvx-GK9_G3fxnYvg" target="_blank">
          <img src="../../img/icon/ico_telegram.svg" alt="conun telegram" title="conun telegram">
          Telegram
        </a>
      </div>
    </footer>
    <script src="../../vendor/js/jquery-3.4.1.min.js"></script>
    <script type="application/javascript">
      if (typeof module === 'object' && typeof module.exports !== 'undefined') {
        window.$ = window.jQuery = module.exports;
      }
    </script>
    <script src="../../vendor/js/common.js"></script>
    <script>
      require('../../../js/controller/ui/ui.account.create.js')
    </script>
  </body>
</html>
